body{
    background-color: #a0a0a0;
    text-align: center;
}

.btn{
   margin-left: 620px;
   margin-top: 40px;   

    
}

.btns{
    padding: 10.2em 14.8em;
    border-radius: 15px;
    background-color: #5009f7;
}

